html {
    position: relative;
    font-family: "Playfair Display", Sans-Serif;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.logo{
  font-size: 2rem;
  color: black;
}

.search-input{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Playfair Display", Sans-Serif;
    font-size: 4rem;
    font-weight: bold;
    background: none;
    color: black;
    box-shadow: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    width: 60%;
    outline: 0;
}

.search-row{
margin-top: 1%;
background-color: #fff;
border: 1px solid #fff;
}

.search-button{
  position: absolute !important;
      top: -9999px;
      left: -9999px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    background-color: #eee;
}
footer p {
    line-height: 40px;
    color: white;
}
footer a {
    color: #424242;
    text-decoration: none;
}*/
