<html lang="en">
  <% include ../partials/header %>
  <body>
    <% include ../partials/nav %>
    <section name="search-area">
                <div class="search-row text-center">
                  <form method="POST" action="/title">
                  <input type="search" placeholder="Search movies" name="title" value="<%= qStr.name %>" class="search-input">
                  <input type="submit" class="search-button" value="Submit">
                  </form>
                </div>
      </section>

      </div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
