<html lang="en">
  <% include ../partials/header %>
  <body>
    <% include ../partials/nav %>
    <!-- <div class="container" id="about"> -->
      <section name="jumbotron">
                  <div class="jumbotron text-center">
                      <h2><%= qStr %></h2>
                  </div>
        </section>

    <!-- </div> -->
<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
